.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    margin: 0 15px;
  }
  button{
    width: 8px;
    height: 8px;
    padding: 0;
    font-size: 0;
    border: none;
    border-radius: 50%;
    background-color: $title;
  }
  li.slick-active{
      button{
        background-color: #FFEF35;
      }
  }
}