
.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.logo{
  margin: auto;
}

.menu {
  padding-right: 15px;
  &__list{
    display: flex;
  }
  &__list-item {
    padding-right: 45px;
    padding-left: 35px;
  }
  &__list-link{
    @extend %title-font;
    line-height: 22px;
    color: rgba(54, 56, 56, 0.90);
  }
}
.rightside-menu{
  position: absolute;
  max-width: 694px;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 40px;
  transition: all .6s;
  background-color: #fff;
  box-shadow: -2px 3px 17px 0px #000;
  &.rightside-menu--close{
    transform: translateX(500%);
  }
  &__close{
    margin-left: 50px;
    margin-bottom: 60px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__content{
    max-width: 475px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo{
    display: inline-block;
    margin-bottom: 40px;
  }
  &__title{
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    color: $title;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 252px;
      height: 1px;
      margin: 0 auto;
      background: #6D7278;
    }
  }
  &__text{
    margin-bottom: 75px;
  }
  &__image{
    max-width: 485px;
  }
}